<!-- component  Header -->

<head th:fragment="header">
	<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
	 <link rel="stylesheet" th:href="@{/css/style.css}">	
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
	 integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
	 crossorigin="anonymous">
     </script>
	 
	 <meta charset="utf-8">
	 <title>Concessionaria</title>

  

</head>


<!-- Component navbar -->
<nav th:fragment="nav-bar" class="navbar navbar-expand-lg navbar-dark" style="background:#000000">
	<a class="navbar-brand" href="/">
		<img src="/assets/logo2.jpg" alt="logo" height="150px">
	</a>
	<div class="colapse navbar-colapse">
		<ul class="nav justify-content-end">

			<li class="nav-item">
				<a class="nav-link h6" href="/sobre">Sobre a empresa</a>
			</li>
			<li class="nav-item">
				<a class="nav-link h6" href="/veiculos/novo" >Novos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link h6" href="/veiculos/seminovo">Seminovos</a>
			</li>
		</ul>
	</div>
</nav>

<!-- Component Card de apresentação de veiculos -->
<div th:fragment="card" class="card col-12 col-md-4 text center" th:each="v : ${listVeiculos}">
	<img class="card-img-top w-100" th:attr="src=@{/images/}+${v.fotodestaque}+.jpg, alt=${v.modelo}, title=${v.modelo}">
	<div class="card-body">
		<h4 class="card-title" th:text="${v.modelo}"></h4>
		<h3 class="card-text" th:text="${#numbers.formatCurrency(v.valor)}"></h3>
		<div class="clearfix">
			<p class="card-text float-start text-muted" th:text="${v.anofabricacao}"></p>
			<p class="card-text float-end text-muted" th:text="${v.tipo}"></p>
		</div>
		<a href="#" class="btn btn-success btn-lg w-100">Detalhes</a>
	</div>
</div>
<!-- Component footer -->
<div th:fragment="footer" class="footer">
	<br/> &copy: Hackaton Unialfa 2021
</div>
