<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concessionaria</title>
</head>
<body>
    <h1>concessionaria</h1>
    <div align="center">
			<h1>teste de carros </h1>
			
			<br></br>
			<table border="1" cellpadding="10">
				<thead>
				 <tr>
				  	<th>id<th>
					<th>modelo</th>
					<th>ano</th>
					<th>ano fabricado</th>
					<th>valor</th>
				
				 </tr>	
				</thead>
				<tbody>
					<tr th:each="veiculos : ${listVeiculos}">
						<td th:text="${veiculos.id}"></td>
						<td th:text="${veiculos.modelo}"></td>
						<td th:text="${veiculos.anomodelo}"></td>
						<td th:text="${veiculos.anofabricacao}"></td>
						<td th:text="${veiculos.valor}"></td>	
							
					</tr>
				</tbody>
			</table>
		</div>
</body>
</html>